img {
    height: 400px;
    width: auto;
}

/* h3, p {
    text-align: center;
    margin: 0 auto;
} */

.ItemDetailPage-center-cropped {
    width: 60px;
    height:60px;
    border: 1px solid red;
    text-indent: -9999px;
    object-fit: cover;
    margin-top: .1em;
    margin-right: .1em
}

.imgHolder {
   
    /* display: flex;
    justify-content: center; */
    grid-template-areas: "main main main main main main main main main main" 
                         "tiny0 tiny1 tiny2 tiny3 tiny4 tiny5 tiny6 tiny1 tiny8 tiny9" ;
    grid-template-rows: 50px 1fr 30px;
    grid-gap: 2em;
}

.imgSquare {
    height: 510px;
    width: 510px;
    background-color: rgb(247, 247, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainImg {
    grid-area: main;
    /* top: -50%;
    left: -50%;
    bottom: -50%;
    right: -50%;
    position: absolute; */
}

.tiny0 {
    grid-area: tiny0;
}
.tiny1 {
    grid-area: tiny1;
}
.tiny2 {
    grid-area: tiny2;
}
.tiny3 {
    grid-area: tiny3;
}
.tiny4 {
    grid-area: tiny4;
}
.tiny5 {
    grid-area: tiny5;
}
.tiny6 {
    grid-area: tiny6;
}
.tiny7 {
    grid-area: tiny7;
}
.tiny8 {
    grid-area: tiny8;
}
.tiny9 {
    grid-area: tiny9;
}

.itemDetailPage {
    display: none;
    margin: 0 auto;
    padding-left: 20em;
    padding-right: 20em;
}

infoHolder {
    display: flex;
    justify-content: flex-start;
}

.mainCard {
    margin: '0 auto';
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 1px;
    align-items: center;
    justify-items: center;
}