.PuppyListItem-action-panel {
    display: flex;
    /* justify-content: space-around; */
}

/* img {
    width: 200px;
    height: auto;
} */
/* .center-cropped {
    width: 200px;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
  } */
  .center-cropped {
    /* background: #eee url(http://www.google.co.cr/logos/classicplus.png) center center; */
    width: 250px;
    height:250px;
    border: 0.5px solid rgba(255, 127, 80, .1);
    text-indent: -9999px;
    object-fit: cover;
    /* -webkit-filter: opacity(0.95);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease; */
    /* position: relative; */
    /* z-index: -9999; */
}
/* .img-padding {
    margin-left: 5em;
    margin-right: 5em
} */



/* .center-cropped:hover {
    -webkit-filter: opacity(0.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
} */

@media screen and (max-width: 780px) {
	.center-cropped {
        width: calc(96vw/3);
        height: calc(96vw/3);
    }
}

@media screen and (max-width: 620px) {
	.center-cropped {
        width: calc(93vw/3);
        height: calc(93vw/3);
        /* max-width: 150px;
        max-height: 150px;
        min-width: 50px;
        min-height: 50px; */
    }
}

@media screen and (max-width: 325px) {
	.center-cropped {
        width: calc(90vw/3);
        height: calc(90vw/3);
        /* max-width: 150px;
        max-height: 150px;
        min-width: 50px;
        min-height: 50px; */
    }
}

@media screen and (max-width: 202px) {
	.center-cropped {
        width: calc(87vw/3);
        height: calc(87vw/3);
        
    }
}

@media screen and (max-width: 143px) {
	.center-cropped {
        width: calc(84vw/3);
        height: calc(84vw/3);
        
    }
}

@media screen and (max-width: 113px) {
	.center-cropped {
        width: calc(78vw/3);
        height: calc(78vw/3);
        
    }
}