.PuppyListItem-action-panel {
    display: flex;
    /* justify-content: space-around; */
}

/* img {
    width: 200px;
    height: auto;
} */
/* .center-cropped {
    width: 200px;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
  } */
  .center-cropped {
    /* background: #eee url(http://www.google.co.cr/logos/classicplus.png) center center; */
    width: 250px;
    height:250px;
    border: 1px solid red;
    text-indent: -9999px;
    object-fit: cover;
}
/* .img-padding {
    margin-left: 5em;
    margin-right: 5em
} */

@media screen and (max-width: 780px) {
	.center-cropped {
        width: calc(96vw/3);
        height: calc(96vw/3);
    }
}

@media screen and (max-width: 620px) {
	.center-cropped {
        width: calc(96vw/3);
        height: calc(96vw/3);
        /* max-width: 150px;
        max-height: 150px;
        min-width: 50px;
        min-height: 50px; */
    }
}