/* @media screen and (min-width: 775) */

.PuppyListPage-grid {
	/* width: 80%; */
	margin: '0 auto';
	/* padding: 20px; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column-gap: 5px;
	grid-row-gap: 1px;
	align-items: center;
	justify-items: center;
}

.my-closet {
	padding-left: .5vw;
	padding-right: .5vw;
	display: none;
	max-width: 1019.22px;
	align-items: center;
	justify-items: center;
}

@media screen and (max-width: 1025px) {
	.my-closet {
		max-width: 769.25px;
	}
}

@media screen and (max-width: 620px) {
	/* .my-closet {
		max-width: calc(93vw/3);
	} */
	.PuppyListPage-grid{
		display: flex !important;
		/* width: 600px; */
		/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
		flex-wrap: wrap;
		/* grid-template-columns: unset !important;
		grid-column-gap: unset !important; */
	}

	.my-closet{
		padding-left: 1.6vw;
		padding-right: .5vw;
	}
}