.loading {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.whole-card{
    padding-left: 10em;
    padding-right: 10em;
    margin-left: 20em;
    margin-right: 20em;
    display: none;
    justify-content: center;
    align-items: center;
}

