.loading {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.whole-page {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.whole-card{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 211);
    /* padding-left: 10em;
    padding-right: 10em; */
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 20px;
    display: none;
    justify-content: space-around;
    align-items: center;
    /* min-width: 800px; */
}

/* h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
} */

.card-header {
    min-width: 276.88px;
    min-height: 262.44px;
    max-width: 276.88px;
    max-height: 262.44px;
    /* max-width: 250px; */
    /* width: 500px; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#oc-alert-container{
    width: 100%;
    height: auto;
    text-align: center;
}

#reset {
    display: none;
    width: 250px;
    text-align: center;
    font-weight: 900;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }



/* #photo-label{
  margin: 0 auto;
} */

 


.fadeOut {
    -webkit-filter: opacity(0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.fadeIn {
    -webkit-filter: opacity(1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

#photo-label-img {
    /* -webkit-filter: brightness(100%); */
    -webkit-filter: opacity(0.8);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    /* background-color: chartreuse; */
}

#photo-label-img:hover {
    /* -webkit-filter: brightness(70%); */
    -webkit-filter: opacity(0.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.highlight {
    -webkit-filter: opacity(0.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.card-body p {
    display: inline;
}

.card-body .form-div {
    margin: 1em;
    /* display: flex; */
    /* justify-content: space-between;
    align-content: center; */
}

textarea { 
    resize: none;
    width: 200px;
    /* height: 100px; */
}

/* .form-div select {
    margin-top: 16px;
    height: 20px
} */


.NewPageItem-center-cropped {
    /* background: #eee url(http://www.google.co.cr/logos/classicplus.png) center center; */
    width: 50px;
    height:50px;
    /* border: 1px solid red; */
    text-indent: -9999px;
    object-fit: cover;
}