.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    /* position: fixed; */

}

.NavBar-link {
    margin: 0 10px;
}

.NavBar-welcome {
    color: grey;
}

.pBar {
    color: black !important;
}

@media screen and (max-width: 465px) {
    #nav-holder {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .NavBar-link {
        margin-bottom: 5px;
    }

}